body {
  background: center / cover no-repeat url(https://images.pexels.com/photos/1626481/pexels-photo-1626481.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260); 
  height: 100vh; 
  margin: 0;
  padding: 0;
}
